<div class="col-md-1 col-md-offset-4 col-sm-2 col-sm-offset-2 col-xs-3">
    <a href="/articles"><h4 class="text-center">Articles</h4></a>
</div>
<div class="col-md-1 col-sm-2 col-xs-3">
    <a href="/authors"><h4 class="text-center">Authors</h4></a>
</div>
<div class="col-md-1 col-sm-2 col-xs-3">
    <a href="/tags"><h4 class="text-center">Tags</h4></a>
</div>
<div class="col-md-1 col-sm-2 col-xs-3">
    <a href="/about"><h4 class="text-center">About</h4></a>
</div>
<div class="col-md-4 col-sm-2 hidden-xs">
</div>
