<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <!--include head-->
        <%- include("../../general/head.html", undefined) %>
        <!--end of include head-->
    </head>
    <body>
        <!--jumbotron-->
        <%- include("../../general/jumbotron.html", undefined) %>
        <!--jumbotron-->
        <!--container-fluid-->
        <div class="container-fluid">
            <!--classifications row-->
            <div class="row">
                <!--include classifications-->
                <%- include("../../general/classifications.html", undefined) %>
                <!--end-->
            </div>
            <!--end of classifications row-->
            <!--contents row-->
            <div class="contents-row row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="article-details row">
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <div class="article-details-header page-header">
                                        <h1 class="article-details-title"><%= article.title %></h1>
                                    </div>
                                    <h3 class="article-details-author"><%= article.author %>
                                        <span class="article-details-tag label label-default"><%= article.tag %></span>
                                    </h3>
                                    <p class="article-details-content"><%- article.content %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1"></div>
            </div>
            <!--end of contents row-->
            <!--page row-->
            <div class="page-row row">
                <div class="col-md-8 col-md-offset-2">
                	<nav>
                		<ul class="pager">
                		<% if (page.previous > 0) { %>
                		<li><a href="/articles/<%= page.previous %>">Prev</a></li>
                		<% } else { %>
                		<li class="disabled"><a>Prev</a></li>
                		<% } %>
                		<% if (page.next > 0) { %>
                		<li><a href="/articles/<%= page.next %>">Next</a></li>
                		<% } else { %>
                		<li class="disabled"><a>Next</a></li>
                		<% } %>
                		</ul>
                	</nav>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!--end of page row-->
        </div>
        <!--end of container-fluid-->
        <!--import javascripts-->
        <%- include("../../general/javascripts.html", undefined) %>
		<!--end of import javascripts-->
    </body>
</html>
