a{
	color: #940094;
}

a:hover{
	text-decoration: none;
	color: #450045;
}

.my-login{
	margin-top: 165px;
	margin-left: auto;
	margin-right: auto;
	padding: 36px 30px 20px 30px;
	width: 380px;
	height: auto;
	overflow: hidden;
	border: 1px solid #fff; 
	color: #000;
	border-radius: 9px;
	box-shadow: 0 0 17px #222; 
	background: -moz-linear-gradient(top, #fff, #efefef 8%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
}

.contents-row{
	margin-top: 30px;
	/*
	将最后一个article-row的margin-bottom
	或者最后一个author-column的margin-bottom
	反拉回来
	*/
	margin-bottom: -30px;
}

.article-row{
	margin-bottom: 30px;
}

.article-row-title{
	font-size: 20px;
	margin-bottom: 5px;
}

.article-row-author{
	font-size: 18px;
	margin-bottom: 5px;
}

.article-row-brief{
	font-size: 17px;
	/*去除bs p自带的margin-bottom*/
	margin-bottom: 0; 
}

.author-row{
	/*margin-bottom: 10px;*/
}

/*给每一列添加margin*/
.author-column{
	margin-bottom: 30px;
}

/*去除Bootstrap自带的margin*/
.thumbnail{
	margin-bottom: 0;
}

.author-column-avatar{
	/*min-width: 300px;
	min-height: 300px;*/
}

.page-row{
	/*配合Bootstrap ul自带的样式*/
	margin-top: 10px;
	margin-bottom: 10px;
}




  