*{
	/*字体默认为14px*/
	font-size: 14px;
}

img{
	width: 250px;
	height: 250px;
}

/* 将<a>变成紫色 */
a{
	color: #940094;
}

a:hover{
	text-decoration: none;
	color: #450045;
}

/* 将navbar里面的<a>强制变成紫色 */
.navbar a{
	color: #940094 !important;
}

.navbar a:hover{
	text-decoration: none !important;
	color: #450045 !important;
}

.my-login{
	margin-top: 165px;
	margin-left: auto;
	margin-right: auto;
	padding: 36px 30px 20px 30px;
	width: 380px;
	height: auto;
	overflow: hidden;
	border: 1px solid #fff;
	color: #000;
	border-radius: 9px;
	box-shadow: 0 0 17px #222;
	background: -moz-linear-gradient(top, #fff, #efefef 8%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
}

.contents-row{
	margin-top: 30px;
	/*
	下面的margin-bottom的作用是：
	将最后一个article-row的margin-bottom
	或者最后一个author-column的margin-bottom
	反拉回来
	*/
	margin-bottom: -30px;
}

.article-row{
	margin-bottom: 30px;
}

.article-row-title{
	margin-bottom: 5px;
	font-size: 20px;
}

.article-row-author{
	margin-bottom: 5px;
	font-size: 18px;
}

.article-row-brief{
	margin-bottom: 0;
	font-size: 17px;
	/*去除bs p自带的margin-bottom*/
	word-wrap: break-word;
}

.article-details{
	margin-bottom: 30px;
}

.article-details-header{
	margin-top: 0;
	margin-bottom: 30px;
}

.article-details-title{
	margin: 0;
}

.article-details-author{
	margin: 0;
}

.article-details-tag{
	margin-left: 30px;
	font-size: 16px;
}

.article-details-content{
	margin-top: 30px;
	/*去除bs p自带的margin-bottom*/
	margin-bottom: 0;
	font-size: 18px;
	word-wrap: break-word;
}

.author-row{

}

.author-column{
	/*给每一列添加margin-bootom*/
	margin-bottom: 30px;
}

/*去除Bootstrap自带的margin*/
.author-column-thumbnail{
	margin-bottom: 0;
}

.author-column-avatar{

}

.author-column-introduce{
	word-wrap: break-word;
}

.author-details{

}

.author-details-column{
	margin-bottom: 30px;
}

.author-details-column-thumbnail{
	margin-bottom: 0;
}

.author-details-column-avatar{

}

.author-details-column-introduce{
	word-wrap: break-word;
}

.tag-row{
}

.tag-column{
	margin-bottom: 30px;
}

.tag{
	font-size: 18px;
}

.page-row{
	/* 配合Bootstrap ul上下的margin 20px构成30px的间距 */
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
 *	后台样式
 *	这里的代码写的非常丑陋，以后尝试使用Bootstrap的Sass文件自己bulid吧。
 */
.new-article-title{
	resize: none;
	display: block;
	margin: 0;
	padding: 6px 15px;
	width: 100%;
	height: auto;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom: 1px solid rgb(229, 229, 229);
	outline-style: none;
}

.new-article-tag{
	resize: none;
	display: block;
	margin: 0;
	padding: 6px 15px;
	width: 100%;
	height: auto;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom: 1px solid rgb(229, 229, 229);
	outline-style: none;
}

#new-article-modal #cke_editor{
	border-style: none;
}

/*取消bootstrap中modal-body的padding*/
.modal-body{
	padding: 0;
}

/*nav的margin-bottom: 20px;加上这里的margin-top: 10px; 就产生了30px的距离*/
.container-component{
	margin-top: 10px;
}

/*articleList与btns之间的距离*/
.articles-articleList{
	margin-top: 30px;
}

/*全局覆盖bootstrap的.label的设置，bs官方提供的方法*/
.label{
	display: inline-block !important;
}

.articles-articleList .label{
	/*缩小label的尺寸*/
	font-size: 40% !important;
}

 /*
  *	mobile's style
  */
@media screen and (max-width: 768px) {
	.my-login{
		margin: 145px 18px auto 18px;
		padding: 33px 52px 11px 52px;
		width: auto;
		height: auto;
	}
}
