<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <!--include head-->
        <%- include("../general/head.html", undefined) %>
        <!--end of include head-->
    </head>
    <body>
        <div class="container-fluid">
            <!--最近发表的文章 10篇？    -->
            <div id="demo1">
                {{msg}}
            </div>
        </div>
        <!--import javascripts-->
        <%- include("../general/javascripts.html", undefined) %>
		<!--end of import javascripts-->
    </body>
</html>
