<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>Panel</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/styles/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Hello, world!</h1>
        <h2><%= username%></2>
        <script src="/scripts/lib/jquery-2.1.4.min.js"></script>
        <script src="/scripts/lib/underscore-min.js"></script>
        <script src="/scripts/lib/backbone-min.js"></script>
        <script src="/scripts/lib/bootstrap.min.js"></script>                 
        <script src="/scripts/test.js"></script>
    </body>
</html>