<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <!--include head-->
        <%- include("../general/head.html", undefined) %>
        <!--end of include head-->
    </head>
    <body>
        <!--jumbotron-->
        <%- include("../general/jumbotron.html", undefined) %>
        <!--jumbotron-->
        <!--container-fluid-->
        <div class="container-fluid">
            <!--classifications row-->
            <div class="row">
                <!--include classifications-->
                <%- include("../general/classifications.html", undefined) %>
                <!--end-->
            </div>
            <!--end of classifications row-->
            <!--contents row-->
            <div class="contents-row row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="author-details row">
                        <div class="author-details-column col-md-8 col-md-offset-2">
                            <div class="author-details-column-thumbnail thumbnail">
                                <img class="author-details-column-avatar" src="<%= author.avatar %>" alt="have no avatar">
                                <div class="caption">
                                    <h3><%= author.pen_name %></h3>
                                    <p class="author-details-column-introduce"><%= author.introduce%></p>
                                    <hr>
                                    <% if (articles.length !== 0) { %>
                                        <% for (var i = 0; i < articles.length; i++) { %>
                                            <a href="/articles/<%= articles[i].id %>"><h4><%= articles[i].createAt %> - <%= articles[i].title %></h4></a>
                                        <% } %>
                                    <% } else { %>
                                        <h4>此作者没有写过文章。</h4>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1"></div>
            </div>
            <!--end of contents row-->
            <!--page row-->
            <div class="page-row row">
            </div>
            <!--end of page row-->
        </div>
        <!--end of container-fluid-->
        <!--import js-->
        <script src="/scripts/lib/jquery-2.1.4.min.js"></script>
        <script src="/scripts/lib/underscore-min.js"></script>
        <script src="/scripts/lib/backbone-min.js"></script>
        <script src="/scripts/lib/bootstrap.min.js"></script>
        <script src="/scripts/test.js"></script>
        <!--end of import js-->
    </body>
</html>
